body {
    --backgroundcolor: #333333;
    --fontcolor: #44aaff;
    --outlinecolor: dimgray;
    color: var(--fontcolor);
    background-color: var(--backgroundcolor);
}

#equation {
    position: absolute;
    width: 50vw;
    height: 32px;
    left: 50vw;
    top: 1em;
    transform: translate(-50%, 0%);
    background-color: var(--backgroundcolor);
    overflow-x: hidden;
    border: var(--outlinecolor) solid 1px;
}

#fmtter {
    margin: 0px;
}

#equation .text {
    position: relative;
    vertical-align: middle;
    height: 32px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

#equation .cursor {
    animation-name: text-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    animation-play-state: paused;
}

#equation .normal {
    color: var(--fontcolor);
    background-color: var(--backgroundcolor);
}

@keyframes text-blink {
    0% {
        color: var(--backgroundcolor);
        background-color: var(--fontcolor);
    }
    50% {
        color: var(--fontcolor);
        background-color: var(--backgroundcolor);
    }
    100% {
        color: var(--backgroundcolor);
        background-color: var(--fontcolor);
    }
}
