body {
    --backgroundcolor: #333333;
    --backgroundcolor2: #222222;
    --fontcolor: #44aaff;
    --fontcolor2: white;
    --outlinecolor: dimgray;
    color: var(--fontcolor);
    background-color: var(--backgroundcolor);
}

.label {
    font-size: 24px;
    font-family: arial, sans-serif;
}

.result {
    color: var(--fontcolor2);
    background-color: var(--backgroundcolor2);
    padding: 3px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#equation {
    height: 32px;
    padding: 3px;
    background-color: var(--backgroundcolor);
    border-radius: 5px;
    overflow-x: hidden;
    border: var(--outlinecolor) solid 1px;
}

#fmtter {
    margin: 0px;
}

#equation .text {
    position: relative;
    vertical-align: middle;
    height: 32px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

#equation .cursor {
    animation-name: text-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    animation-play-state: paused;
}

#equation .normal {
    color: var(--fontcolor);
    background-color: var(--backgroundcolor);
}

@keyframes text-blink {
    0% {
        color: var(--backgroundcolor);
        background-color: var(--fontcolor);
    }
    50% {
        color: var(--fontcolor);
        background-color: var(--backgroundcolor);
    }
    100% {
        color: var(--backgroundcolor);
        background-color: var(--fontcolor);
    }
}
